<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nova Mensagem | WhatsApp Hack-Workshop</title>
    </head>
    <body>
        <h1>Envie uma Mensagem via WhatsApp</h1>

        <form action="/send-message" method="POST">
            <label for="number">Número:</label><br>
            <input type="text" id="number" name="number" required><br><br>

            <label for="message">Mensagem:</label><br>
            <textarea id="message" name="message" rows="4" required></textarea><br><br>

            <button type="submit">Enviar</button>
        </form>
    </body>
</html>  